<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome</title>
  </head>
  <body style='margin: 0; padding: 0'>
    <div
      style="
        height: 100vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        font-weight: lighter;
      "
    >
      <!-- Header -->
      <div
        style='
          background-color: antiquewhite;
          text-align: center;
          padding: 10px 0;
        '
      >
        <h3>
          <a
            style='text-decoration: none; color: black !important;'
            href={{webAppUrl}}
          >{{appName}}</a>
        </h3>
      </div>
      <div style='margin: 50px 50px'>
        <p>Hello {{user.firstName}},</p>
        <p>
          You have been added as a
          {{type}}
          on FuelUp.
        </p>
        <p>Your temporary password is: {{password}}.</p>
        <p>
          Click the button below to login. You would be required to change your
          password after login.
        </p>
        <div style='margin: 30px 0'>
          <a
            href='https://apps.apple.com/us/app/instagram/id389801252'
            style='
              background-color: red;
              color: white !important;
              border: 1px solid red;
              border-radius: 5px;
              padding: 8px 15px;
              text-decoration: none;
            '
          >
            Login
          </a>
        </div>
        <p>Thank you,<br />JustPlay</p>
        <hr />
        <p style='margin-bottom: 10px;'>
          If you’re having trouble clicking the Login button, copy and paste the
          URL below into your web browser:
          <br />
          <a
            href='{{webAppUrl}}/forgot-password'
            style='text-decoration: none; color: blue  !important;'
          >{{webAppUrl}}/forgot-password</a>
        </p>
      </div>
    </div>
  </body>
</html>